* {
  box-sizing: border-box;
  margin: 0;

}

header {
  width: 100%;
  height: 10em;
  position: fixed;
  background: maroon;
  top: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .glow {
  animation: glow-title 2s ease-in-out infinite alternate;
}

@keyframes glow-title {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }

  to {
    text-shadow: 0 0 15px #fff;
  }
}

#logo {
  margin-left: 2em;  
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 3rem;
  margin-top: 10em;
}

#elemInput {
  width: 25em;
  height: 2.5em;
  border: none;
  border-radius: 25px;
  padding: 0 0 0.2em 0.8em;
  font-size: 1.2em;
}

.nombreGrupo {
  font-size: 3em;
  color: white;
  margin-right: 1em;
}

.render,
.cart {
  box-shadow: 7px 7px 8px #a20606;
  padding: 10px;
}

.render {
  margin: 0 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#cartSide {
  text-align: center;
  max-width: 25em;
  max-height: 32em;
  padding: 15px;
}

#cart-items {
  scrollbar-width: none;
}

/* #vaciar-carrito,
#finalizar-compra {

} */

.text-right {
  margin: 0.7em;
}

#delete-button {
  margin-right: 0.8em;
}

#carrito {
  overflow-y: auto;
  max-height: 350px;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

#cart-items {
  overflow-y: scroll;
  padding: 0;
}

#productos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px 0;
}

.producto {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
  background-color: white;
}

.producto img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #007BFF;
  color: white;
}

.item-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/* Desde 1081px a 1440px */
@media (min-width: 1081px) and (max-width: 1440px) {
  .item-name, .text-right, #vaciar-carrito, #finalizar-compra, #delete-button, .producto {
    font-size: 0.75em;
  }
  .cart h2, .producto h4 {
    font-size: 1.5em;
  }
  #addCart {
    font-size: 1em;
  }
  .container {
    margin-top: 11em;
  }
}

/* Desde 1441px a 1919px */
@media (min-width: 1441px) and (max-width: 1920px) {
  .container {
    margin-top: 11em;
  }
}